body{
	padding: 0;
	margin: 0;
}
.head{
	height: 90px;
	border-bottom: 1px solid lightgray;
	-moz-box-shadow:1px 1px 1px rgba(0,0,0,.1);
	-webkit-box-shadow:1px 1px 1px rgba(0,0,0,.1);
	box-shadow:1px 1px 1px rgba(0,0,0,.1);
}
.head img{
	width: 200px;
	float: left;
	margin-top: 10px;
}
.head-r ul li{
	list-style: none;
	float: left;
}
.head-r ul li a{
	font-size: 15px;
	margin-right: 20px;
	text-decoration: none;
	color: #474246;
	font-size: 13px;
}
.head-r ul li a:hover{
	color: red;
}
.head-r ul li:
.head span{
	font-size: 13px;
	color: #384649;
}
.head ul li:nth-child(2) span{
	padding: 5px 20px;
	border: 1px solid lightgray;
	background: url(../img/runbun.png)no-repeat 2px 5px;
	
}
.head-r{
	float: right;
	margin-right: 50px;
}
.down-list ul{
	height: 88px;
    border: 1px solid lightgray;
    border-top: none;
    padding: 0;
    width: 92px;
    background: white;
    margin-top: 6px;
    display: none;
}
.down-list ul li{
	clear: both;
	list-style: none;
	width: 92px;
	border-bottom: 1px solid lightgray;
	text-align: center;
	
}
.down-list ul li a{
	color: #474246;
	font-size: 12px;

}
.down-list ul li a:hover{
	color: red;
}

/*注册中间的开始*/
.content-box{
	position: absolute;
	
}
.content{
	height: 500px;
}
.content-boxA{
	margin-left: 500px;
	width: 500px;
	
	
}
h2{
margin-left: 110px;;
}
.content-box1,.content-box2,.content-box3,.content-box4,.content-box5{
	width: 700px;
	margin-bottom: 10px;
	position: relative;
	
}
.content-box1 input,.content-box2 input,.content-box3 input,.content-box4 input,.content-box5 input{
	width: 350px;
	height: 45px;
}
.content-box3 input{
	width: 240px;
}
.content-box3 font{
	color: white;
	background: #474246;
    padding: 15px 13px;
}
.txt1,.txt2,.txt3,.txt4,.txt5{
	position: absolute;
	left: 5px;
	top: 18px;
	font-size: 12px;
	color: gray;
}
.alert1-1,.alert2-1,.alert3-1,.alert4-1,.alert5-1{
	position: absolute;
	top: 10px;
	left: 360px;
	display: none;
	
}
.alert1-1 span,.alert2-1 span,.alert3-1 span,.alert4-1 span,.alert5-1 span{
	position: absolute;
	left: 7px;
	top: 7px;
	font-size: 12px;
	color: gray;
}
.alert1-2,.alert2-2,.alert3-2,.alert4-2,.alert5-2{
	position: absolute;
	top: -10px;
	left: 360px;
	display: none;
}
.alert1-2 span,.alert2-2 span,.alert3-2 span,.alert4-2 span,.alert5-2 span{
	position: absolute;
	top: 18px;
	left: 15px;
	color: gray;
	/*font-size: 12px;*/
}
.agree span{
	color: gray;
	font-size: 13px;
}
.agree a{
	color: darkcyan;
	text-decoration: none;
	font-size: 12px;
}
.button input{
	color: white;
	background: red;
	width: 350px;
	height: 50px;
}
/*注册中间的结束*/
/*底部开始*/
.foot{
	width: 1200px;
	margin: 0 auto;
	height: 68px;
	margin-top: 25px;
	border-top: 1px solid lavender;
	border-bottom:1px solid lavender ;
	
}
.foot1{	
	height: 20px;
	margin-left: 400px;
	
}
.foot1 ul li{
	list-style: none;
	margin-right: 10px;
	float: left;
	color: #808080;
}
.foot1 ul li a{
	color: #808080;
	font-size: 12px;
	text-decoration: none;
	color: #384649;
}
.foot1 ul li a:hover{
	color: red;
}
.foot p{
	color: gray;
	font-size: 12px;
	text-align: center;
	color: #384649;
	margin-bottom: 10px;
}

/*动态的背景图片*/

.background-img1{	
	position: absolute;	
	width: 1200px;
	height: 500px;
	left: 50px;
	opacity: 0.3;
	background: url(../img/bac1.png);
	
}
.background-img2{
	position: absolute;	
	width: 1200px;
	height: 500px;
	left: 50px;
	opacity: 0.3;
	background: url(../img/bac2.png);
}
.background-img3{
	position: absolute;	
	width: 1200px;
	height: 500px;
	left: 50px;
	opacity: 50%;
	opacity: 0.3;
	background: url(../img/bac3.png);
}
.background-img4{
	position: absolute;	
	width: 1200px;
	height: 500px;
	left: 50px;
	opacity: 0.3;
	background: url(../img/bac4.png);
}
.background-img5{
	position: absolute;	
	width: 1200px;
	height: 500px;
	left: 50px;
	opacity: 0.3;
	background: url(../img/bac5.png);
}
/*刷新页面弹出广告开始*/
.adv{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1;
	background: rgba(0,0,0,0.3);	
}
.ad_exit{
    position: absolute;
    /*display: block;*/
    top: 190px;
    left: 840px;
    z-index: 1000;
    cursor: pointer;
}
.adv img:nth-child(2){
	 position: absolute;
    top: 200px;
    left: 350px;
}
/*刷新页面弹出广告结束*/